<!DOCTYPE html>
<html lang="en">
<head>
  <title>TinyApp</title>
</head>
<body>
  <ul>
    <!-- <li> <%= longURL %>, <a href="<%= shortURL %>"> <%= shortURL %> </a> </li> -->
    <a> "ShortURL: " <%= shortURL %> </a>
    <form action="/urls/<%= shortURL %>" method="POST" style="margin:150px;">
      <label for="longURL"> New URL         </label>
      <input id="longURL" type="text" name="longURL" placeholder="http://" style="width: 300px">
      <input type="submit" value="Update">

    </form>
</body>
</html>